# Descripció

Familiaritza't amb les tècniques d'exploració de les dades mitjantçant la estructura de dades, Dataframe amb la llibreria Pandas.

## <span style='color:Blue'>Nivell 1</span>

### Exercici 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [31]:
# Importació de la llibreria
import pandas as pd

In [32]:
# Carregar les dades
df = pd.read_csv("dades/DelayedFlights.csv")

Explicació del df (extreta de https://www.kaggle.com/adveros/flight-delay-eda-exploratory-data-analysis)

This dataset is composed by the following variables:

   **Year** 2008
   
   **Month** 1-12
   
   **DayofMonth** 1-31
   
   **DayOfWeek** 1 (Monday) - 7 (Sunday)
   
   **DepTime** actual departure time (local, hhmm)
   
   **CRSDepTime** scheduled departure time (local, hhmm)
   
   **ArrTime** actual arrival time (local, hhmm)
   
   **CRSArrTime** scheduled arrival time (local, hhmm)
   
   **UniqueCarrier** unique carrier code
   
   **FlightNum** flight number
   
   **TailNum** plane tail number: aircraft registration, unique aircraft identifier
   
   **ActualElapsedTime** in minutes
   
   **CRSElapsedTime** in minutes
   
   **AirTime** in minutes
   
   **ArrDelay** arrival delay, in minutes: A flight is counted as "on time" if it operated less than 15 minutes later the scheduled time shown in the carriers' Computerized Reservations Systems (CRS)
   
   **DepDelay** departure delay, in minutes
    
   **Origin** origin IATA airport code
   
   **Dest** destination IATA airport code
   
   **Distance** in miles
   
   **TaxiIn** taxi in time, in minutes
   
   **TaxiOut** taxi out time in minutes
   
   **Cancelled** *was the flight cancelled
   
   **CancellationCode** reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
   
   **Diverted** 1 = yes, 0 = no
   
   **CarrierDelay** in minutes: Carrier delay is within the control of the air carrier. Examples of occurrences that may determine carrier delay are: aircraft cleaning, aircraft damage, awaiting the arrival of connecting passengers or crew, baggage, bird strike, cargo loading, catering, computer, outage-carrier equipment, crew legality (pilot or attendant rest), damage by hazardous goods, engineering inspection, fueling, handling disabled passengers, late crew, lavatory servicing, maintenance, oversales, potable water servicing, removal of unruly passenger, slow boarding or seating, stowing carry-on baggage, weight and balance delays.
   
   **WeatherDelay** in minutes: Weather delay is caused by extreme or hazardous weather conditions that are forecasted or manifest themselves on point of departure, enroute, or on point of arrival.
   
  **NASDelay** in minutes: Delay that is within the control of the National Airspace System (NAS) may include: non-extreme weather conditions, airport operations, heavy traffic volume, air traffic control, etc.
  
  **SecurityDelay** in minutes: Security delay is caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.
  
  **LateAircraftDelay** in minutes: Arrival delay at an airport due to the late arrival of the same aircraft at a previous airport. The ripple effect of an earlier delay at downstream airports is referred to as delay propagation.

In [33]:
# Mostrar nom de columnes -> columns
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [34]:
# Mostrar typus de les dades en les columnes
df.dtypes

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [35]:
# Mostrar el 5 primers registres -> head() [cap]
# afegint un valor com a paràmetre es pot especificar la quantitat de registres a mostrar 
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [36]:
# Eliminació de columnes innecesàries
# L'any, perquè sempre és 2008
# Raons de l'endarreriment
newDf = df.drop(["Year", "TailNum", "TaxiIn", "TaxiOut", "CancellationCode", "Diverted", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"], axis = 1)

In [37]:
newDf.head()

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled
0,0,1,3,4,2003.0,1955,2211.0,2225,WN,335,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,0
1,1,1,3,4,754.0,735,1002.0,1000,WN,3231,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,0
2,2,1,3,4,628.0,620,804.0,750,WN,448,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,0
3,4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,0
4,5,1,3,4,1940.0,1915,2121.0,2110,WN,378,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,0

In [38]:
# També la primera columna, sense nom, que no aporta res
newDf = newDf.drop(df.columns[[0]], axis='columns')

In [39]:
newDf.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,0
1,1,3,4,754.0,735,1002.0,1000,WN,3231,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,0
2,1,3,4,628.0,620,804.0,750,WN,448,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,0
3,1,3,4,1829.0,1755,1959.0,1925,WN,3920,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,0
4,1,3,4,1940.0,1915,2121.0,2110,WN,378,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,0

### Exercici 2

Fes un informe complet del data set:.

    Resumeix estadísticament les columnes d’interès
    Troba quantes dades faltants hi ha per columna
    Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
    Taula de les aerolínies amb més endarreriments acumulats
    Quins són els vols més llargs? I els més endarrerits?
    Etc.

##### Resumeix estadísticament les columnes d’interès

In [40]:
newDf2 = newDf[["DayOfWeek", "UniqueCarrier", "ActualElapsedTime", "ArrDelay", "DepDelay", "Origin", "Dest", "Distance", "FlightNum"]].copy()

newDf2.describe()

,DayOfWeek,ActualElapsedTime,ArrDelay,DepDelay,Distance,FlightNum
count,1.936758e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06,1.936758e+06
mean,3.984827e+00,1.333059e+02,4.219988e+01,4.318518e+01,7.656862e+02,2.184263e+03
std,1.995966e+00,7.206007e+01,5.678472e+01,5.340250e+01,5.744797e+02,1.944702e+03
min,1.000000e+00,1.400000e+01,-1.090000e+02,6.000000e+00,1.100000e+01,1.000000e+00
25%,2.000000e+00,8.000000e+01,9.000000e+00,1.200000e+01,3.380000e+02,6.100000e+02
50%,4.000000e+00,1.160000e+02,2.400000e+01,2.400000e+01,6.060000e+02,1.543000e+03
75%,6.000000e+00,1.650000e+02,5.600000e+01,5.300000e+01,9.980000e+02,3.422000e+03
max,7.000000e+00,1.114000e+03,2.461000e+03,2.467000e+03,4.962000e+03,9.742000e+03

##### Velocitat mitjana de vol 

La velocitat mitjana es calcula per l'expressió: distancia / temps de vol

Passos:
    Treure els valors nuls, si n'hi ha.
    Passar la distància a km (ara està en milles) i guardar-la en una columna

In [41]:
# Saber si hi ha valors nuls
miss_values_count = newDf2.isnull().sum()
miss_values_count = miss_values_count[miss_values_count != 0]

print(f"Nombre de columnes amb dades faltants: {miss_values_count.shape[0]}")
if miss_values_count.shape[0]:
    print("Són: ")
    for name, miss_vals in miss_values_count.items():
        p = miss_vals > 1
        print(f"  - A la columna '{name}' li falten "
              f"{miss_vals} dades.")

Nombre de columnes amb dades faltants: 2
Són:
  - A la columna 'ActualElapsedTime' li falten 8387 dades.
  - A la columna 'ArrDelay' li falten 8387 dades.

La columna ActualElapsedTime és especialment important perquè dona el temps real de vol 

(és la diferència en minuts entre ArrTime i DepTime, les hores reals d'arribada i sortida, respectivament).

In [42]:
# Treure els valors nuls

newDf2= newDf2.dropna(subset = ["ActualElapsedTime"])

In [43]:
# Quants valors nuls tenim ara a ActualElapsedTime?
newDf2.ActualElapsedTime.isnull().sum()

0

In [69]:
# I a ArrDelay?
newDf2.ArrDelay.isnull().sum()

0

In [44]:
# Crearem una nova columna amb la distància en km
newDf2["DistanceKm"] = newDf2["Distance"] * 1.60934
newDf2["DistanceKm"].head(3)

0    1303.5654
1    1303.5654
2     828.8101
Name: DistanceKm, dtype: float64

In [45]:
# Ara ja podem calcular la mitjana de la velocitat de cada vol: distància / temps de vol

# Afegirem una columna que ens doni els km/hora
newDf2["FlightVelociy"] = (newDf2["DistanceKm"] / newDf2["ActualElapsedTime"]) * 60
newDf2.head()

,DayOfWeek,UniqueCarrier,ActualElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,FlightNum,DistanceKm,FlightVelociy
0,4,WN,128.0,-14.0,8.0,IAD,TPA,810,335,1303.56540,611.046281
1,4,WN,128.0,2.0,19.0,IAD,TPA,810,3231,1303.56540,611.046281
2,4,WN,96.0,14.0,8.0,IND,BWI,515,448,828.81010,518.006313
3,4,WN,90.0,34.0,34.0,IND,BWI,515,3920,828.81010,552.540067
4,4,WN,101.0,11.0,25.0,IND,JAX,688,378,1107.22592,657.757972

In [46]:
# Vol més ràpid per dia de la setmana
newDf2.groupby(by = ["DayOfWeek"])["FlightVelociy"].max().sort_values(ascending = False)

DayOfWeek
4    2676.102514
5    1998.800280
6    1609.340000
7    1577.153200
2    1204.164988
1    1172.135967
3    1166.268581
Name: FlightVelociy, dtype: float64

##### Ha arribat tard un vol?

La columna ArrDelay mesura l'endarreriment o avançament dels vols en minuts. 

Aplicarem la regla que es considera endarrerit un vol quan el temps excedeix dels 15 minuts i ho guardarem a una columna.

In [47]:
newDf2["Delayed"] = newDf2.ArrDelay > 15

In [48]:
newDf2.head()

,DayOfWeek,UniqueCarrier,ActualElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,FlightNum,DistanceKm,FlightVelociy,Delayed
0,4,WN,128.0,-14.0,8.0,IAD,TPA,810,335,1303.56540,611.046281,False
1,4,WN,128.0,2.0,19.0,IAD,TPA,810,3231,1303.56540,611.046281,False
2,4,WN,96.0,14.0,8.0,IND,BWI,515,448,828.81010,518.006313,False
3,4,WN,90.0,34.0,34.0,IND,BWI,515,3920,828.81010,552.540067,True
4,4,WN,101.0,11.0,25.0,IND,JAX,688,378,1107.22592,657.757972,False

In [49]:
# Quants vols han arribar tard i quants no?
newDf2.groupby(by = ["Delayed"]).count()

,DayOfWeek,UniqueCarrier,ActualElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,FlightNum,DistanceKm,FlightVelociy
Delayed,,,,,,,,,,,
False,713359,713359,713359,713359,713359,713359,713359,713359,713359,713359,713359
True,1215012,1215012,1215012,1215012,1215012,1215012,1215012,1215012,1215012,1215012,1215012

In [50]:
newDf2.groupby(by = ["Delayed"]).count().max()[0]

1215012

In [51]:
numVolsTotal = newDf2.count()[0]

print("Van amb algun retard el", round(100*numVolsEndarrerits/numVolsTotal, 2), "% dels vols!")

Van amb algun retard el 63.01 % dels vols!

#### I amb retard greu (més d'una hora)?

In [68]:
retardGreu = newDf2[newDf2.ArrDelay > 60].count()[0]

print("Van amb retard greu el", round(100*retardGreu/numVolsTotal, 2), "% dels vols!")

Van amb retard greu el 22.77 % dels vols!

##### Les 5 aerolínies amb més vols amb retards

In [52]:
newDf2[newDf2["Delayed"] == True].groupby("UniqueCarrier")["UniqueCarrier"].count().sort_values(ascending = False).head(5)

UniqueCarrier
WN    196424
AA    129401
MQ     95126
UA     93355
OO     86619
Name: UniqueCarrier, dtype: int64

##### Llista d'aerolínies per la quantitat de vols

In [73]:
newDf2.groupby(by = ["UniqueCarrier"])["UniqueCarrier"].count().sort_values(ascending = False)

UniqueCarrier
WN    376201
AA    190910
MQ    141223
UA    140904
OO    131780
DL    113728
XE    103147
CO     99731
US     98007
EV     81762
NW     78843
FL     70969
YV     66769
B6     54925
OH     52453
9E     51569
AS     39010
F9     28224
HA      7472
AQ       744
Name: UniqueCarrier, dtype: int64

La que més fa és Southwest Airlines (WM), una companyia low-cost amb seu a Atlanta. La següent és American Airlines (AA).

##### Vols més llargs en km

In [53]:
newDf2.groupby(by = ["FlightNum"]).DistanceKm.max().sort_values(ascending = False)

FlightNum
15      7985.54508
14      7985.54508
851     7245.24868
850     7245.24868
1560    7245.24868
           ...
7391     151.27796
6188     107.82578
6062     107.82578
6916     102.99776
9002      48.28020
Name: DistanceKm, Length: 7498, dtype: float64

In [54]:
newDf2[newDf2["FlightNum"] == 15].DistanceKm.max()

7985.54508

##### Vols que han tingut l'endarreriment més gran

In [55]:
newDf2.groupby(by = ["FlightNum"]).ArrDelay.max().sort_values(ascending = False)

FlightNum
808     2461.0
1699    2453.0
1107    1951.0
3538    1707.0
357     1655.0
         ...
3385       5.0
6893       4.0
6191       2.0
7384       2.0
7688       1.0
Name: ArrDelay, Length: 7498, dtype: float64

##### Vols que més vegades s'han endarrerit

In [57]:
newDf2.groupby(by = ["FlightNum"]).ArrDelay.count().sort_values(ascending = False)

FlightNum
16      1575
50      1539
40      1499
15      1464
44      1440
        ...
7452       1
7458       1
6249       1
7720       1
9741       1
Name: ArrDelay, Length: 7498, dtype: int64

##### Vols que acumulen més endarreriments

In [58]:
newDf2.groupby(by = ["FlightNum"]).ArrDelay.sum().sort_values(ascending = False)

FlightNum
36      67851.0
75      65441.0
50      64637.0
321     62761.0
378     62302.0
         ...
6191        2.0
7384        2.0
7688        1.0
6127        0.0
3385      -51.0
Name: ArrDelay, Length: 7498, dtype: float64

##### Dia de la setmana amb més endarriments

In [59]:
newDf2.groupby(by = ["DayOfWeek"]).ArrDelay.count().sort_values(ascending = False)

DayOfWeek
5    321982
1    289822
4    288344
7    284940
3    261498
2    259584
6    222201
Name: ArrDelay, dtype: int64

##### Ciutat destí amb més endarriments

In [60]:
newDf2.groupby(by = ["Dest"]).ArrDelay.count().sort_values(ascending = False)

Dest
ORD    108265
ATL    106540
DFW     70181
DEN     62850
LAX     59843
        ...
BLI        13
BJI        12
INL         9
PIR         3
TUP         1
Name: ArrDelay, Length: 302, dtype: int64

És ORD (Chicago), seguit d'Atlanta

### Exercici 3

Exporta el data set net i amb les noves columnes a Excel.

In [ ]:
# Com que no es pot exportar a Excel pel tamany ho faré a csv
newDf2.to_csv("Flights_2008_df_clean.csv")

In [61]:
newDf2.to_excel("Flights_2008_df_clean.xlsx")

ValueError: This sheet is too large! Your sheet size is: 1928371, 12 Max sheet size is: 1048576, 16384