# Descripció

Familiaritza't amb les tècniques d'exploració de les dades mitjantçant la estructura de dades, Dataframe amb la llibreria Pandas.

## <span style='color:Blue'>Nivell 1</span>

### Exercici 1

Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [44]:
# Importació de la llibreria
import pandas as pd

In [45]:
# Carregar les dades
df = pd.read_csv("dades/DelayedFlights.csv")

Explicació del df (extreta de https://www.kaggle.com/adveros/flight-delay-eda-exploratory-data-analysis)

This dataset is composed by the following variables:

   **Year** 2008
   
   **Month** 1-12
   
   **DayofMonth** 1-31
   
   **DayOfWeek** 1 (Monday) - 7 (Sunday)
   
   **DepTime** actual departure time (local, hhmm)
   
   **CRSDepTime** scheduled departure time (local, hhmm)
   
   **ArrTime** actual arrival time (local, hhmm)
   
   **CRSArrTime** scheduled arrival time (local, hhmm)
   
   **UniqueCarrier** unique carrier code
   
   **FlightNum** flight number
   
   **TailNum** plane tail number: aircraft registration, unique aircraft identifier
   
   **ActualElapsedTime** in minutes
   
   **CRSElapsedTime** in minutes
   
   **AirTime** in minutes
   
   **ArrDelay** arrival delay, in minutes: A flight is counted as "on time" if it operated less than 15 minutes later the scheduled time shown in the carriers' Computerized Reservations Systems (CRS)
   
   **DepDelay** departure delay, in minutes
    
   **Origin** origin IATA airport code
   
   **Dest** destination IATA airport code
   
   **Distance** in miles
   
   **TaxiIn** taxi in time, in minutes
   
   **TaxiOut** taxi out time in minutes
   
   **Cancelled** *was the flight cancelled
   
   **CancellationCode** reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
   
   **Diverted** 1 = yes, 0 = no
   
   **CarrierDelay** in minutes: Carrier delay is within the control of the air carrier. Examples of occurrences that may determine carrier delay are: aircraft cleaning, aircraft damage, awaiting the arrival of connecting passengers or crew, baggage, bird strike, cargo loading, catering, computer, outage-carrier equipment, crew legality (pilot or attendant rest), damage by hazardous goods, engineering inspection, fueling, handling disabled passengers, late crew, lavatory servicing, maintenance, oversales, potable water servicing, removal of unruly passenger, slow boarding or seating, stowing carry-on baggage, weight and balance delays.
   
   **WeatherDelay** in minutes: Weather delay is caused by extreme or hazardous weather conditions that are forecasted or manifest themselves on point of departure, enroute, or on point of arrival.
   
  **NASDelay** in minutes: Delay that is within the control of the National Airspace System (NAS) may include: non-extreme weather conditions, airport operations, heavy traffic volume, air traffic control, etc.
  
  **SecurityDelay** in minutes: Security delay is caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.
  
  **LateAircraftDelay** in minutes: Arrival delay at an airport due to the late arrival of the same aircraft at a previous airport. The ripple effect of an earlier delay at downstream airports is referred to as delay propagation.

In [46]:
# Mostrar el 5 primers registres -> head() [cap]
# afegint un valor com a paràmetre es pot especificar la quantitat de registres a mostrar 
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [47]:
# Mostrar el 8 primers registres -> df.head(8)
df.head(8)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,10,2008,1,3,4,706.0,700,916.0,915,WN,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0

In [48]:
# Mostrar el últim 5 registres -> tail() [cua]
# És igual que head(), però des del final 
df.tail()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [49]:
# Mostrar qualsevol fragment del df
# S'utilitza sintaxi slicing 
df[10:20]

# Per tant df[0:10] equival a df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
10,17,2008,1,3,4,754.0,745,940.0,955,WN,...,5.0,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN
11,18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,...,4.0,9.0,0,N,0,0.0,0.0,0.0,0.0,16.0
12,19,2008,1,3,4,1416.0,1325,1512.0,1435,WN,...,2.0,5.0,0,N,0,12.0,0.0,0.0,0.0,25.0
13,21,2008,1,3,4,1657.0,1625,1754.0,1735,WN,...,5.0,5.0,0,N,0,7.0,0.0,0.0,0.0,12.0
14,22,2008,1,3,4,1900.0,1840,1956.0,1950,WN,...,2.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN
15,23,2008,1,3,4,1039.0,1030,1133.0,1140,WN,...,2.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN
16,25,2008,1,3,4,1520.0,1455,1619.0,1605,WN,...,2.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
17,26,2008,1,3,4,1422.0,1255,1657.0,1610,WN,...,6.0,6.0,0,N,0,40.0,0.0,0.0,0.0,7.0
18,27,2008,1,3,4,1954.0,1925,2239.0,2235,WN,...,3.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
19,30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,...,6.0,7.0,0,N,0,5.0,0.0,0.0,0.0,59.0

In [50]:
# Modificar el df per a que les dades perdin l'ordre -> sample(frac = x) [x = 1 equival a 100% dels registres]
# Serveix per a tenir una visió més general.
df.sample(frac = 1)

# Per a guardar aquest df desordenat l'hauriem de guardar en una nova variable
# df_sample = df.sample(frac = 1)
# Però ara no ho necessitem

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
220785,702069,2008,2,1,5,1455.0,1410,1600.0,1516,XE,...,9.0,5.0,0,N,0,0.0,0.0,0.0,0.0,44.0
612040,1927948,2008,4,14,1,2225.0,2215,2300.0,2253,YV,...,7.0,22.0,0,N,0,NaN,NaN,NaN,NaN,NaN
922881,3102857,2008,6,12,4,1940.0,1855,2130.0,2055,XE,...,6.0,13.0,0,N,0,35.0,0.0,0.0,0.0,0.0
1519955,5361420,2008,9,20,6,735.0,710,1005.0,951,CO,...,6.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
733978,2409209,2008,5,9,5,1137.0,1130,1239.0,1235,WN,...,2.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
922257,3101021,2008,6,24,2,1927.0,1715,2110.0,1852,XE,...,7.0,51.0,0,N,0,6.0,0.0,6.0,0.0,126.0
430640,1331747,2008,3,8,6,1525.0,1315,1712.0,1453,OH,...,7.0,13.0,0,N,0,130.0,0.0,9.0,0.0,0.0
1425758,4833576,2008,8,8,5,1437.0,1423,1536.0,1525,DL,...,6.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
751695,2458116,2008,5,23,5,1743.0,1645,1853.0,1755,WN,...,2.0,9.0,0,N,0,2.0,0.0,0.0,0.0,56.0
282477,901060,2008,2,23,6,1542.0,715,1751.0,930,DL,...,12.0,11.0,0,N,0,501.0,0.0,0.0,0.0,0.0

In [51]:
# Mostrar nom de columnes -> columns
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [52]:
# Mostrar typus de les dades en les columnes
df.dtypes

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [53]:
# la informació mostrada com array, no com a taula
df.values

array([[0, 2008, 1, ..., nan, nan, nan],
       [1, 2008, 1, ..., nan, nan, nan],
       [2, 2008, 1, ..., nan, nan, nan],
       ...,
       [7009718, 2008, 12, ..., 19.0, 0.0, 79.0],
       [7009726, 2008, 12, ..., nan, nan, nan],
       [7009727, 2008, 12, ..., nan, nan, nan]], dtype=object)

In [54]:
# Mostrar valors d'una columna
# sintaxi 1
df["ArrTime"].head()

0    2211.0
1    1002.0
2     804.0
3    1959.0
4    2121.0
Name: ArrTime, dtype: float64

In [55]:
# sintaxi 2
df.ArrTime.head()

0    2211.0
1    1002.0
2     804.0
3    1959.0
4    2121.0
Name: ArrTime, dtype: float64

In [56]:
# Els 20 primers orígens dels vols
df.Origin.head(3)

0    IAD
1    IAD
2    IND
Name: Origin, dtype: object

In [57]:
# Mostrar informació segons una condició booleana

# Exemple : les dades del segons semestre de cada any
df[df["Month"] > 6].head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1083153,3604177,2008,7,2,3,1610.0,1555,1733.0,1720,WN,...,3.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1083154,3604181,2008,7,2,3,1329.0,1310,1446.0,1435,WN,...,5.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1083155,3604193,2008,7,2,3,2156.0,2140,2311.0,2250,WN,...,6.0,17.0,0,N,0,0.0,0.0,5.0,0.0,16.0
1083156,3604197,2008,7,2,3,1829.0,1820,1954.0,1945,WN,...,3.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1083157,3604200,2008,7,2,3,912.0,900,1035.0,1025,WN,...,5.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [58]:
# Exemple : les dades dels vols que surten d'Atlanta -> origen = ATL
df[df["Origin"] == "ATL"].head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
33678,104019,2008,1,20,7,1403.0,1330,1625.0,1608,XE,...,6.0,32.0,0,N,0,0.0,0.0,17.0,0.0,0.0
35013,108680,2008,1,3,4,1429.0,1340,1531.0,1500,XE,...,7.0,11.0,0,N,0,4.0,0.0,0.0,0.0,27.0
35165,109189,2008,1,31,4,1217.0,1210,1511.0,1335,XE,...,21.0,60.0,0,N,0,0.0,0.0,96.0,0.0,0.0
35225,109405,2008,1,28,1,1229.0,1210,1343.0,1335,XE,...,6.0,20.0,0,N,0,NaN,NaN,NaN,NaN,NaN
35511,110375,2008,1,19,6,1241.0,1215,1735.0,1437,XE,...,12.0,178.0,0,N,0,0.0,0.0,164.0,0.0,14.0

In [59]:
# Exemple : les dades dels vols que surten d'Atlanta al gener -> origen == ATL i Month == 1
# Cada condició ha de quedar entre parèntesi
df[(df["Origin"] == "ATL") & (df["Month"] == 1)].head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
33678,104019,2008,1,20,7,1403.0,1330,1625.0,1608,XE,...,6.0,32.0,0,N,0,0.0,0.0,17.0,0.0,0.0
35013,108680,2008,1,3,4,1429.0,1340,1531.0,1500,XE,...,7.0,11.0,0,N,0,4.0,0.0,0.0,0.0,27.0
35165,109189,2008,1,31,4,1217.0,1210,1511.0,1335,XE,...,21.0,60.0,0,N,0,0.0,0.0,96.0,0.0,0.0
35225,109405,2008,1,28,1,1229.0,1210,1343.0,1335,XE,...,6.0,20.0,0,N,0,NaN,NaN,NaN,NaN,NaN
35511,110375,2008,1,19,6,1241.0,1215,1735.0,1437,XE,...,12.0,178.0,0,N,0,0.0,0.0,164.0,0.0,14.0

In [60]:
# També es poden demanar dades en un conjunt, que s'indica com una llista

# Exemple : vols que han sortit de Houston i Atlanta
df[df.Origin.isin(["HOU", "ATL"])]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2053,3272,2008,1,4,5,1603.0,1550,1647.0,1635,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2054,3278,2008,1,4,5,823.0,805,906.0,850,WN,...,6.0,9.0,0,N,0,16.0,0.0,0.0,0.0,0.0
2055,3282,2008,1,4,5,2013.0,1950,2152.0,2135,WN,...,4.0,8.0,0,N,0,0.0,0.0,0.0,0.0,17.0
2056,3305,2008,1,4,5,1214.0,1200,1305.0,1255,WN,...,2.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2057,3314,2008,1,4,5,1658.0,1630,1750.0,1725,WN,...,3.0,9.0,0,N,0,1.0,0.0,0.0,0.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936741,7009655,2008,12,13,6,955.0,934,1215.0,1155,DL,...,6.0,20.0,0,N,0,20.0,0.0,0.0,0.0,0.0
1936743,7009660,2008,12,13,6,1053.0,1000,1218.0,1141,DL,...,5.0,14.0,0,N,0,37.0,0.0,0.0,0.0,0.0
1936745,7009666,2008,12,13,6,1025.0,950,1218.0,1130,DL,...,4.0,41.0,0,N,0,35.0,0.0,13.0,0.0,0.0
1936751,7009705,2008,12,13,6,921.0,830,1112.0,1008,DL,...,8.0,21.0,0,N,0,51.0,0.0,13.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0

In [61]:
# Quants registres tenen la columna ArrDelay buida?
len(df[pd.isna(df["ArrDelay"])])

8387

### Transformacions

In [62]:
# Crear nova columna "HoursDelay com a transformació"
df["HoursDelay"] = round(df["ArrDelay"] / 60)
df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3    1.0
4    0.0
Name: HoursDelay, dtype: float64

In [63]:
# Eliminar columna
del(df["HoursDelay"])
# Això donarà error perquè la columna ja no existeix
# df["HoursDelay"].head()

In [64]:
# Eliminar diverses columnes al mateix temps
# Cal especicificar com a llista els noms de les columnes a eliminar
# També cal especificar l'eix: axis = 1 -> columnes
df.drop(["Diverted", "Cancelled", "Year"], axis = 1)

# Nota : així com està ho executa però no ho guarda

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,TPA,810,4.0,8.0,N,NaN,NaN,NaN,NaN,NaN
1,1,1,3,4,754.0,735,1002.0,1000,WN,3231,...,TPA,810,5.0,10.0,N,NaN,NaN,NaN,NaN,NaN
2,2,1,3,4,628.0,620,804.0,750,WN,448,...,BWI,515,3.0,17.0,N,NaN,NaN,NaN,NaN,NaN
3,4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,BWI,515,3.0,10.0,N,2.0,0.0,0.0,0.0,32.0
4,5,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,JAX,688,4.0,10.0,N,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,ATL,906,9.0,18.0,N,3.0,0.0,0.0,0.0,22.0
1936754,7009717,12,13,6,657.0,600,904.0,749,DL,1631,...,ATL,481,15.0,34.0,N,0.0,57.0,18.0,0.0,0.0
1936755,7009718,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,IAH,689,8.0,32.0,N,1.0,0.0,19.0,0.0,79.0
1936756,7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,ATL,533,13.0,13.0,N,NaN,NaN,NaN,NaN,NaN
1936757,7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,ATL,874,8.0,11.0,N,NaN,NaN,NaN,NaN,NaN

In [65]:
# Per a que ho guardi:
df = df.drop(["Diverted", "Cancelled", "Year"], axis = 1)

In [66]:
# Així també ho faria, sense que calgui igualar
df.drop(["CancellationCode"], axis = 1, inplace = True)

In [67]:
df.head()

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,IAD,TPA,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN
1,1,1,3,4,754.0,735,1002.0,1000,WN,3231,...,IAD,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN
2,2,1,3,4,628.0,620,804.0,750,WN,448,...,IND,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN
3,4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,IND,BWI,515,3.0,10.0,2.0,0.0,0.0,0.0,32.0
4,5,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,IND,JAX,688,4.0,10.0,NaN,NaN,NaN,NaN,NaN

In [68]:
# Eliminar una filera, p.e. la primera
df.drop(0)

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,1,1,3,4,754.0,735,1002.0,1000,WN,3231,...,IAD,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN
2,2,1,3,4,628.0,620,804.0,750,WN,448,...,IND,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN
3,4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,IND,BWI,515,3.0,10.0,2.0,0.0,0.0,0.0,32.0
4,5,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,IND,JAX,688,4.0,10.0,NaN,NaN,NaN,NaN,NaN
5,6,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,IND,LAS,1591,3.0,7.0,10.0,0.0,0.0,0.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,MSP,ATL,906,9.0,18.0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,12,13,6,657.0,600,904.0,749,DL,1631,...,RIC,ATL,481,15.0,34.0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,ATL,IAH,689,8.0,32.0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,IAD,ATL,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,SAT,ATL,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN

In [69]:
# Eliminar un rang de columnes, p.e. les 100 primeres
df.drop(range(0,100))

# Això no queda guardat. Caldria fer
# df.drop(range(0,100), inplace = True), o
# df = df.drop(range(0,100))

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
100,142,1,3,4,1556.0,1455,1704.0,1600,WN,354,...,LAS,LAX,236,9.0,18.0,61.0,0.0,3.0,0.0,0.0
101,145,1,3,4,1540.0,1525,1648.0,1630,WN,1061,...,LAS,LAX,236,5.0,16.0,10.0,0.0,3.0,0.0,5.0
102,147,1,3,4,1228.0,1200,1340.0,1310,WN,1928,...,LAS,LAX,236,7.0,22.0,0.0,0.0,2.0,0.0,28.0
103,148,1,3,4,2047.0,2005,2209.0,2115,WN,2367,...,LAS,LAX,236,7.0,30.0,15.0,0.0,12.0,0.0,27.0
104,149,1,3,4,2158.0,2120,2303.0,2225,WN,2896,...,LAS,LAX,236,11.0,10.0,13.0,0.0,0.0,0.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,MSP,ATL,906,9.0,18.0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,12,13,6,657.0,600,904.0,749,DL,1631,...,RIC,ATL,481,15.0,34.0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,ATL,IAH,689,8.0,32.0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,IAD,ATL,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,SAT,ATL,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN

In [70]:
# Crear nou dt a partir de l'existent
df_ATL = df[df.Origin == "ATL"]
df_HOU = df[df.Origin == "HOU"]

In [71]:
df_ATL.head()

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
33678,104019,1,20,7,1403.0,1330,1625.0,1608,XE,1284,...,ATL,EWR,745,6.0,32.0,0.0,0.0,17.0,0.0,0.0
35013,108680,1,3,4,1429.0,1340,1531.0,1500,XE,2112,...,ATL,IAH,689,7.0,11.0,4.0,0.0,0.0,0.0,27.0
35165,109189,1,31,4,1217.0,1210,1511.0,1335,XE,2023,...,ATL,IAH,689,21.0,60.0,0.0,0.0,96.0,0.0,0.0
35225,109405,1,28,1,1229.0,1210,1343.0,1335,XE,2349,...,ATL,IAH,689,6.0,20.0,NaN,NaN,NaN,NaN,NaN
35511,110375,1,19,6,1241.0,1215,1735.0,1437,XE,1284,...,ATL,EWR,745,12.0,178.0,0.0,0.0,164.0,0.0,14.0

In [72]:
# Barrejar df, si tenen la mateixa estructura
df_ATL_HOU = df_ATL.append(df_HOU)

In [73]:
df_ATL_HOU.Origin

33678      ATL
35013      ATL
35165      ATL
35225      ATL
35511      ATL
          ...
1933530    HOU
1934119    HOU
1934989    HOU
1935477    HOU
1936464    HOU
Name: Origin, Length: 151252, dtype: object

### groupby

In [74]:
# Tres paràmetres:
#   Nom de la columna
#   Nom de columna
# funció

df.groupby(by = "DayOfWeek")["ArrDelay"].max()
# Això dona el màxim endarreriment per dia de la setmana
# groupby agrupa per cada dia de la setmana (columna 1), l'endarreriment (columna 2) i li aplica una funció (el màxim)

# altres funcions:
# min()
# mean() -> mitjana
# count() -> quants
# describe() --> resum estadístic

DayOfWeek
1    1583.0
2    1951.0
3    1510.0
4    2453.0
5    1707.0
6    1525.0
7    2461.0
Name: ArrDelay, dtype: float64

In [75]:
df.groupby(by = "DayOfWeek")["ArrDelay"].mean()

DayOfWeek
1    41.731356
2    43.806679
3    40.438229
4    41.071599
5    43.493618
6    39.393828
7    44.697413
Name: ArrDelay, dtype: float64

In [76]:
# Un altre exemple
df.groupby(by = "DayOfWeek")["ArrDelay", "DepDelay"].mean()

C:\Users\Gran\AppData\Local\Temp/ipykernel_13608/1949532019.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by = "DayOfWeek")["ArrDelay", "DepDelay"].mean()

            ArrDelay   DepDelay
DayOfWeek
1          41.731356  43.227633
2          43.806679  44.075603
3          40.438229  41.429611
4          41.071599  41.676591
5          43.493618  44.016943
6          39.393828  41.480063
7          44.697413  45.859422

In [77]:
# rang per dia de la setmana
df.groupby(by = "DayOfWeek")["ArrDelay"].max()-df.groupby(by = "DayOfWeek")["ArrDelay"].min()

DayOfWeek
1    1652.0
2    2010.0
3    1580.0
4    2562.0
5    1764.0
6    1585.0
7    2527.0
Name: ArrDelay, dtype: float64

In [78]:
dfATLHOU = df[df.Origin.isin(["HOU", "ATL"])]

In [79]:
dfATLHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          ATL       34.380620
           HOU       30.081725
2          ATL       40.840086
           HOU       37.512793
3          ATL       40.075684
           HOU       34.033631
4          ATL       39.120478
           HOU       36.010678
5          ATL       43.907486
           HOU       31.741449
6          ATL       40.684830
           HOU       30.105621
7          ATL       45.877264
           HOU       28.303064
Name: ArrDelay, dtype: float64

### Casos duplicats

In [80]:
dfclean = df.drop_duplicates()

In [82]:
# "DayofMonth" són els dies del mes, per tant el màxim són 31
dfclean.drop_duplicates(subset = "DayofMonth")

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,IAD,TPA,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN
1661,2367,1,4,5,2003.0,1845,2207.0,2040,WN,746,...,ABQ,AMA,277,5.0,15.0,0.0,0.0,9.0,0.0,78.0
3409,5805,1,5,6,2001.0,1845,2150.0,2040,WN,746,...,ABQ,AMA,277,4.0,6.0,3.0,0.0,0.0,0.0,67.0
4914,8614,1,6,7,1852.0,1845,2044.0,2040,WN,746,...,ABQ,AMA,277,4.0,8.0,NaN,NaN,NaN,NaN,NaN
6752,11844,1,7,1,911.0,905,1422.0,1440,WN,2126,...,ABQ,BWI,1670,2.0,6.0,NaN,NaN,NaN,NaN,NaN
7746,15281,1,8,2,1456.0,1435,1727.0,1710,WN,45,...,ABQ,DAL,580,3.0,12.0,1.0,0.0,0.0,0.0,16.0
8630,18718,1,9,3,755.0,655,1021.0,930,WN,87,...,ABQ,DAL,580,3.0,6.0,51.0,0.0,0.0,0.0,0.0
9289,22151,1,10,4,2004.0,1845,2154.0,2040,WN,746,...,ABQ,AMA,277,4.0,7.0,0.0,0.0,0.0,0.0,74.0
10139,25588,1,11,5,1911.0,1845,2102.0,2040,WN,746,...,ABQ,AMA,277,4.0,9.0,22.0,0.0,0.0,0.0,0.0
10962,29027,1,12,6,906.0,900,1422.0,1435,WN,679,...,ABQ,BWI,1670,3.0,6.0,NaN,NaN,NaN,NaN,NaN
11269,31810,1,13,7,2016.0,1950,2209.0,2145,WN,2271,...,ABQ,AMA,277,6.0,7.0,24.0,0.0,0.0,0.0,0.0
12308,34879,1,14,1,1607.0,1555,1844.0,1830,WN,720,...,ABQ,DAL,580,7.0,9.0,NaN,NaN,NaN,NaN,NaN
12720,38336,1,15,2,1554.0,1530,1745.0,1725,WN,1352,...,ABQ,LBB,289,3.0,7.0,0.0,0.0,0.0,0.0,20.0
13310,41776,1,16,3,1910.0,1900,2034.0,2035,WN,1640,...,ABQ,OAK,889,5.0,10.0,NaN,NaN,NaN,NaN,NaN
13845,45163,1,17,4,2021.0,1950,2213.0,2145,WN,2271,...,ABQ,AMA,277,3.0,6.0,0.0,0.0,0.0,0.0,28.0
15366,48596,1,18,5,2028.0,2020,2254.0,2245,WN,375,...,ABQ,DAL,580,4.0,6.0,NaN,NaN,NaN,NaN,NaN
16961,52026,1,19,6,1523.0,1510,1749.0,1745,WN,1263,...,ABQ,DAL,580,2.0,9.0,NaN,NaN,NaN,NaN,NaN
17585,54545,1,20,7,1056.0,1030,1321.0,1305,WN,490,...,ABQ,DAL,580,2.0,6.0,16.0,0.0,0.0,0.0,0.0
18107,57606,1,21,1,2047.0,1950,2236.0,2145,WN,2271,...,ABQ,AMA,277,5.0,7.0,0.0,0.0,0.0,0.0,51.0
19686,61042,1,22,2,1111.0,1100,1332.0,1335,WN,1295,...,ABQ,DAL,580,2.0,7.0,NaN,NaN,NaN,NaN,NaN
20755,64468,1,23,3,1454.0,1430,1719.0,1705,WN,45,...,ABQ,DAL,580,2.0,10.0,NaN,NaN,NaN,NaN,NaN
21606,67894,1,24,4,2016.0,1950,2207.0,2145,WN,2271,...,ABQ,AMA,277,4.0,8.0,0.0,0.0,0.0,0.0,22.0
22738,71324,1,25,5,2014.0,1950,2202.0,2145,WN,2271,...,ABQ,AMA,277,4.0,8.0,9.0,0.0,0.0,0.0,8.0
24157,74764,1,26,6,1649.0,1615,1721.0,1650,WN,1104,...,ABQ,LAS,487,4.0,7.0,1.0,0.0,0.0,0.0,30.0
24769,77272,1,27,7,1957.0,1950,2146.0,2145,WN,2271,...,ABQ,AMA,277,4.0,5.0,NaN,NaN,NaN,NaN,NaN
26471,80343,1,28,1,1108.0,1100,1337.0,1335,WN,1295,...,ABQ,DAL,580,3.0,8.0,NaN,NaN,NaN,NaN,NaN
27640,83775,1,29,2,1907.0,1900,2134.0,2135,WN,2038,...,ABQ,DAL,580,1.0,12.0,NaN,NaN,NaN,NaN,NaN
28300,87198,1,30,3,910.0,900,1425.0,1435,WN,213,...,ABQ,BWI,1670,4.0,7.0,NaN,NaN,NaN,NaN,NaN
29007,90628,1,31,4,2046.0,2020,2305.0,2245,WN,375,...,ABQ,DAL,580,3.0,6.0,0.0,0.0,0.0,0.0,20.0
30736,94065,1,2,3,1252.0,1223,1457.0,1428,XE,2667,...,MCI,IAH,643,12.0,12.0,6.0,0.0,0.0,0.0,23.0
30743,94084,1,1,2,1110.0,1050,1303.0,1245,XE,2679,...,EWR,MYR,550,3.0,11.0,18.0,0.0,0.0,0.0,0.0

In [ ]:
# Eliminar fileres quan falta alguna dada 
# df.dropna()
# Esborra la filera sensera

In [83]:
# Es pot fixar un mímin de columnes amb dades
df. dropna(thresh = 25)

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3,4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,IND,BWI,515,3.0,10.0,2.0,0.0,0.0,0.0,32.0
5,6,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,IND,LAS,1591,3.0,7.0,10.0,0.0,0.0,0.0,47.0
7,11,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,IND,MCO,828,6.0,8.0,8.0,0.0,0.0,0.0,72.0
9,16,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,IND,PHX,1489,7.0,8.0,3.0,0.0,0.0,0.0,12.0
11,18,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,IND,TPA,838,4.0,9.0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936751,7009705,12,13,6,921.0,830,1112.0,1008,DL,1616,...,ATL,PBI,545,8.0,21.0,51.0,0.0,13.0,0.0,0.0
1936752,7009709,12,13,6,1552.0,1520,1735.0,1718,DL,1620,...,HSV,ATL,151,9.0,7.0,0.0,0.0,0.0,0.0,17.0
1936753,7009710,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,MSP,ATL,906,9.0,18.0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,12,13,6,657.0,600,904.0,749,DL,1631,...,RIC,ATL,481,15.0,34.0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,ATL,IAH,689,8.0,32.0,1.0,0.0,19.0,0.0,79.0

In [84]:
# Fixar el màxim de dos valors faltants
df.dropna(thresh = len(df.columns)-2)

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3,4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,IND,BWI,515,3.0,10.0,2.0,0.0,0.0,0.0,32.0
5,6,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,IND,LAS,1591,3.0,7.0,10.0,0.0,0.0,0.0,47.0
7,11,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,IND,MCO,828,6.0,8.0,8.0,0.0,0.0,0.0,72.0
9,16,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,IND,PHX,1489,7.0,8.0,3.0,0.0,0.0,0.0,12.0
11,18,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,IND,TPA,838,4.0,9.0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936751,7009705,12,13,6,921.0,830,1112.0,1008,DL,1616,...,ATL,PBI,545,8.0,21.0,51.0,0.0,13.0,0.0,0.0
1936752,7009709,12,13,6,1552.0,1520,1735.0,1718,DL,1620,...,HSV,ATL,151,9.0,7.0,0.0,0.0,0.0,0.0,17.0
1936753,7009710,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,MSP,ATL,906,9.0,18.0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,12,13,6,657.0,600,904.0,749,DL,1631,...,RIC,ATL,481,15.0,34.0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,ATL,IAH,689,8.0,32.0,1.0,0.0,19.0,0.0,79.0

In [88]:
# Treure els nuls d'una columna en concret
df.dropna(subset = ["CarrierDelay"])

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3,4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,IND,BWI,515,3.0,10.0,2.0,0.0,0.0,0.0,32.0
5,6,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,IND,LAS,1591,3.0,7.0,10.0,0.0,0.0,0.0,47.0
7,11,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,IND,MCO,828,6.0,8.0,8.0,0.0,0.0,0.0,72.0
9,16,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,IND,PHX,1489,7.0,8.0,3.0,0.0,0.0,0.0,12.0
11,18,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,IND,TPA,838,4.0,9.0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936751,7009705,12,13,6,921.0,830,1112.0,1008,DL,1616,...,ATL,PBI,545,8.0,21.0,51.0,0.0,13.0,0.0,0.0
1936752,7009709,12,13,6,1552.0,1520,1735.0,1718,DL,1620,...,HSV,ATL,151,9.0,7.0,0.0,0.0,0.0,0.0,17.0
1936753,7009710,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,MSP,ATL,906,9.0,18.0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,12,13,6,657.0,600,904.0,749,DL,1631,...,RIC,ATL,481,15.0,34.0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,ATL,IAH,689,8.0,32.0,1.0,0.0,19.0,0.0,79.0

In [89]:
import numpy as np
np.median(df["ArrTime"])

nan

### Exercici 2

Fes un informe complet del data set:.

    Resumeix estadísticament les columnes d’interès
    Troba quantes dades faltants hi ha per columna
    Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
    Taula de les aerolínies amb més endarreriments acumulats
    Quins són els vols més llargs? I els més endarrerits?
    Etc.

### Exercici 3

Exporta el data set net i amb les noves columnes a Excel.